* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #303030;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.error {
  background: #f75e4d;
  padding: 0.5rem 1rem;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.input,
.create {
  margin: 1rem 0;
  max-width: 100%;
}

.input {
  font-family: inherit;
  padding-bottom: 1rem;
  background: none;
  border: none;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  text-align: center;
  font-size: 1.25rem;
}

.input:focus {
  outline: none;
  border-bottom-color: #21cc49;
}

.input::placeholder {
  color: #ffffff;
  opacity: 0.7;
}

.create {
  font-family: inherit;
  font-size: 1.25rem;
  color: #1e1f1e;
  border: none;
  background-color: #187d18;
  padding: 0.5rem 1.5rem;
  box-shadow: 3px 3px 0 0 #ffffff;
}

.create:hover{
  box-shadow: 0 0 0 0 #ffffff;
}

.created {
  color: #ffffff;
}

.created a {
  color: inherit;
}
